<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.bjw-s.alfred-tmdb-search</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>4A1A6704-A646-4210-99C2-C976652046A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2173368-C369-4761-8595-9BBF711F0554</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EE1BC02-1A41-4F64-B478-569859AE8E10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1A6704-A646-4210-99C2-C976652046A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A708DE7C-0F8A-47F4-B0C8-56534BD4BD89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAF64C5F-051E-4928-B46C-20F8A26B678C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EE1BC02-1A41-4F64-B478-569859AE8E10</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy IMDb ID to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAF64C5F-051E-4928-B46C-20F8A26B678C</key>
		<array/>
		<key>F2173368-C369-4761-8595-9BBF711F0554</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Bᴇʀɴᴅ Sᴄʜᴏʀɢᴇʀs</string>
	<key>description</key>
	<string>Find requested movie on The Movie Database (TMDB)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search TMDB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>tmdb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading movies...</string>
				<key>script</key>
				<string>/usr/bin/python3 tmdb.py --action "search" --query "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>tmdb.py</string>
				<key>subtext</key>
				<string>Search The Movie Database</string>
				<key>title</key>
				<string>Search TMDB</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A708DE7C-0F8A-47F4-B0C8-56534BD4BD89</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BAF64C5F-051E-4928-B46C-20F8A26B678C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F2173368-C369-4761-8595-9BBF711F0554</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 tmdb.py --action imdbId --query "$id"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4EE1BC02-1A41-4F64-B478-569859AE8E10</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>4A1A6704-A646-4210-99C2-C976652046A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow can be used to find information about a movie through the TMDB (The Movie Database) API.

It requires the TMDB_API_KEY variable to be set to your own v4 API key.
Refer to https://developers.themoviedb.org/4/getting-started/introduction to see how you can create an API key.

Any data / images are kindly provided by TMDB: https://www.themoviedb.org</string>
	<key>uidata</key>
	<dict>
		<key>4A1A6704-A646-4210-99C2-C976652046A5</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>4EE1BC02-1A41-4F64-B478-569859AE8E10</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>A708DE7C-0F8A-47F4-B0C8-56534BD4BD89</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>BAF64C5F-051E-4928-B46C-20F8A26B678C</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>F2173368-C369-4761-8595-9BBF711F0554</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>TMDB_API_KEY</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>TMDB_API_KEY</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/bjw-s/alfred-tmdb-search</string>
</dict>
</plist>
